.unbox-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.slider {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100rem;
    height: 30%;
    overflow: hidden;
}

.vertical-line {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 2px;
    height: 100%;
    background-color: yellow;
    box-shadow: 0 0 10px yellow;
}

.slider .item {
    width: 100%;
    text-align: center;
    font-size: 8rem;
    font-weight: bold;
    color: yellow;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    backdrop-filter: blur(5px);
    border-bottom: 0.4rem solid;
    box-shadow: inset 0 -10px 30px -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .item.grade-a-plus {
    border-color: gold;
    color: gold;
    text-shadow: 0 0 30px gold;
    box-shadow: inset 0 -10px 50px -10px gold;
}

.slider .item.grade-a {
    border-color: rgb(235,75,75);
    color: rgb(235,75,75);
    text-shadow: 0 0 30px rgb(235,75,75);
    box-shadow: inset 0 -10px 30px -10px rgb(235,75,75);
}

.slider .item.grade-b-plus {
    border-color: rgb(211,44,230);
    color: rgb(211,44,230);
    box-shadow: inset 0 -10px 30px -10px rgb(211,44,230);
}

.slider .item.grade-b {
    border-color: purple;
    color: purple;
    box-shadow: inset 0 -10px 30px -10px purple;
}

.slider .item.grade-c-plus {
    border-color: rgb(75,105,205);
    color: rgb(75,105,205);
    box-shadow: inset 0 -10px 30px -10px rgb(75,105,205);
}

.slider .item.grade-c {
    border-color: rgb(94,152,217);
    color: rgb(94,152,217);
    box-shadow: inset 0 -10px 30px -10px rgb(94,152,217);
}

.slider .item.grade-d-plus {
    border-color: rgb(129,140,154);
    color: rgb(129,140,154);
    box-shadow: inset 0 -10px 30px -10px rgb(129,140,154);
}

.slider .item.grade-d {
    border-color: rgb(129,140,154);
    color: rgb(129,140,154);
    box-shadow: inset 0 -10px 30px -10px rgb(129,140,154);
}

.slider .item.grade-f {
    border-color: rgb(134, 134, 134);
    color: rgb(134, 134, 134);
    box-shadow: inset 0 -10px 30px -10px rgb(134, 134, 134);
}
